@import '../../styl/component-include.styl'

.b-tags
  display flex
  flex-wrap wrap
  gap 10px
  font-family $roboto

  a
    display inline-block
    font-size $12px
    height 28px
    line-height 28px
    padding 0 8px
    background-color #fafafa
    border-radius 3px

    &,
    &:hover,
    &:focus,
    &:active
      color #9b9b9b