.b-meeting-item 
  .b-meeting-item__date
    b 26 августа 2024
    span 18:00 (мск)
  .b-meeting-item__title
    a(href="") Заседание Дисциплинарной комиссии 151
  .b-meeting-item__tags
    span.label-blue
      span Назначено
    span Очное
    span Вопросов: 86