// start /components/profile/

//- push style and script file to the end of the page
if componentsArray
  - componentsArray[ componentsArray.length ] = 'profile.company'
else
  - var componentsArray = [ 'profile.company' ]
  
.b-profile-company.ph-block

  .ph

    .ph__photo
      div
    .ph__text
      div
      div
      div

  .ph-content

    .b-profile-company__photo
      i( style="background-image: url( '/upload/portrait.jpg' );" title="АО АКФ &quot;МИАН&quot;" )
        span(style="background-color: #f00;") Исключен
    
    .row.justify-content-md-between
    
      
      aside.col-3.d-none.d-md-block
        
        include ../../components/left-menu/profile-out
          
      article.col-12.col-md-9

        h3 Уведомления АО “АКФ” “МИАН” получают:

        hr

        include ../../modules/staff-block/notifications

// end /components/profile/