[class^="label-"]
  text-align center
  line-height 1

  span
    border-radius 1px
    display inline
    font-family $roboto
    font-size $14px

.label-green span
  color #74C37A
  background-color #EFFFF0

.label-red span
  color #FF0000
  background-color #FFF4F4

.label-gray span
  color #9B9B9B
  background-color #F2F2F2

.label-lightblue span
  color #5F7696
  background-color #F2F7FF

.label-blue span
  color #4375D8
  background-color #F0F5FF

.label-orange span
  color #F2762E
  background-color #FFF7F2