extends ../../layouts/main

block vars
  - var page = 'pages-profile-company'
  - var authorized = 'true'

block title
  title Личный кабинет организации | AAS

block content

  hr

  .container-fluid
  
    include ../../modules/breadcrumbs/profile

  hr

  .container-fluid
  
    h1 АО "АКФ "МИАН"
    
    include ../../components/profile.company/notifications
  
    