extends ../../layouts/simple

block title
  title PDF | AAS

block content

  h1 PDF

  div(style="margin-left: 5rem;")

    h3 Отчёты

    ul
      li
        a( href="/pdf/pdf-report/" ) Отчёт

  div(style="margin-left: 5rem;")

    h3 УМЦ

    ul
      li
        a( href="/pdf/pdf-umc-plan/" ) Календарный план

  div(style="margin-left: 5rem;")

    h3 Уведомления

    ul
      li
        a( href="/pdf/pdf-notification1/" ) Уведомление
      li
        a( href="/pdf/pdf-notification2/" ) Информация о рассмотрении дисциплинарного дела
      li
        a( href="/pdf/pdf-notification3/" ) Распоряжение

    h3 Платёжное поручение

    ul
      li
        a( href="/pdf/pdf-payment1/" ) Платёжное поручение
    
    h3 Заявления

    ul
      li
        a( href="/pdf/pdf-application1/" ) Заявление об изменении в реестре
      li
        a( href="/pdf/pdf-application2/" ) Заявление о восстановлении логина и пароля
      li
        a( href="/pdf/pdf-application3/" ) Доверенность
      li
        a( href="/pdf/pdf-application4/" ) Заявление об отмене курса
    
    h3 Справки

    ul
      li
        a( href="/pdf/pdf-reference1/" ) Справка индивидуального аудитора
      li
        a( href="/pdf/pdf-reference2/" ) Справка аудиторской организации
    
    h3 Выписки

    ul
      li
        a( href="/pdf/pdf-excerpt1/" ) "Стандартная выписка по (индивидуальному) аудитору", форма от 07.06.2021
      li
        a( href="/pdf/pdf-excerpt2/" ) "Стандартная выписка по организации", форма от 07.06.2021
      li
        a( href="/pdf/pdf-excerpt3/" ) "Расширенная выписка по организации", форма от 07.06.2021
      li
        a( href="/pdf/pdf-excerpt4/" ) "Расширенная выписка по (индивидуальному) аудитору", форма от 07.06.2021

    h4 Футер без печати и подписи

    ul
      li
        a( href="/pdf/pdf-excerpt1-2/" ) "Стандартная выписка по (индивидуальному) аудитору", форма от 07.06.2021
      li
        a( href="/pdf/pdf-excerpt2-2/" ) "Стандартная выписка по организации", форма от 07.06.2021
      li
        a( href="/pdf/pdf-excerpt3-2/" ) "Расширенная выписка по организации", форма от 07.06.2021
      li
        a( href="/pdf/pdf-excerpt4-2/" ) "Расширенная выписка по (индивидуальному) аудитору", форма от 07.06.2021
