extends ../../layouts/main

block title
  title Files | Blocks | AAS

block content

  .container-fluid

    h1 Файлы
    
    h3 single-gray-32x44.pug

    include ../../modules/docs/single-gray-32x44
    
    h3 single-remove.pug

    include ../../modules/docs/single-remove

    h3 icon.pug

    include ../../modules/docs/icon

    h3 item-gray-with-dots.pug

    include ../../modules/docs/item-gray-with-dots
    
    h3 item.pug

    include ../../modules/docs/item
    
    h3 single-simple.pug

    include ../../modules/docs/single-simple
    
    h3 single.pug

    include ../../modules/docs/single