extends ../../layouts/main

block title
  title Blocks | Buttons | AAS

block content

  .container-fluid

    link( rel="stylesheet" href="/blocks/vue2-components/include.pug" )

    #vue2ComponentsApp
    
    script( src="/blocks/vue2-components/script.js" )