extends ../../layouts/main

block vars
  - var page = 'pages-profile-out-for-admin'
  - var authorized = 'true'

block title
  title Личный кабинет другого аудитора глазами администратора | AAS

block content

  hr

  .container-fluid
  
    include ../../modules/breadcrumbs/profile

  hr

  .container-fluid
  
    h1 Иванов Петр Валерьевич

    include ../../components/profile/out-admin
  
    