script( src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js" )
script( src="https://unpkg.com/vuex@3" )

.b-num-blocks
  .b-num-block
    i Проголосовало
    b 2
  .b-num-block
    i Доля голосовавших
    b 2%
  .b-num-block
    i До окончания
    b 4 дня

hr

.b-poll-result-ill( style="background-image: url('/upload/events/2.jpeg');")

hr

#pollResult.b-poll-result__groups

  .b-poll-result__groups__item(v-for="group in $store.state.groups")

    .b-poll-result__questions
      div( v-for="question in group.questions" )
        poll-question( :question="question" )
        hr.hr--xl

hr.hr--xl

link( href="/components/poll.widget/style.css" rel="stylesheet" )
script( src="/components/poll.widget/script.js" )

.b-widget-code-block
  span.b-copy-icon( style="background-image: url('/template/images/copy.svg')")
  h4 Ссылка на публичную страницу результатов
  hr
  pre
    | https://sroaas.ru/api/widget/script.js?ornz=99999999998
  hr
  button.btn.btn-dark.btn-md Скопировать