// start /components/poll-result/

style 
  | .container-fluid {padding-top:85px; padding-bottom: 80px; border-radius: 20px; padding-right: 140px !important; padding-left: 140px !important}
  | .b-poll-result__questions__header {margin-bottom: 0 !important;}
  | .b-poll-result__questions__header h3 {font-size: 1.1rem !important;}
  | .b-screen-logo {margin-bottom: 40px !important;}
  | .b-poll-result-screen .b-switch-button {display: none}
  | .b-poll-result-screen .b-poll-result__answers__item {justify-content: flex-start;margin-bottom: 25px}
  | .b-poll-result-screen .b-poll-result__questions__header {width: 100%;margin-bottom: 60px}
  | .b-poll-result-screen .b-poll-result__answer-title {width: calc((100% - 30px) / 12 * 3);font-size: 1.5rem;font-weight: 700;font-family: Roboto,sans-serif;margin-right: 10px;height: auto;line-height: normal}
  | .b-poll-result-screen .b-poll-result__answer-title span,.b-poll-result-screen .b-num-blocks,.b-poll-result-screen .b-poll-result-ill {display: none}
  | .b-poll-result-screen .b-poll-result__answer-graph { width: 100% }

script( src="/components/poll-result/store-screen.js" )

//- push style and script file to the end of the page
if componentsArray
  - componentsArray[ componentsArray.length ] = 'poll-result'
else
  - var componentsArray = [ 'poll-result' ]
  
.b-poll-result.b-poll-result-screen.ph-block

  .ph

    .ph__text
      .ph__ill
        div
        div
        div
        div
        div

  .ph-content
  
    include ./result

// end /components/poll/