// start /components/poll-result/

script( src="/components/poll-result/store.js" )

//- push style and script file to the end of the page
if componentsArray
  - componentsArray[ componentsArray.length ] = 'poll-result'
else
  - var componentsArray = [ 'poll-result' ]
  
.b-poll-result.ph-block

  .ph

    .ph__text
      .ph__num-blocks
        div
        div
        div
      .ph__ill
        div
        div
        div
        div
        div

  .ph-content

    .b-poll-result__tabs

      .b-tab-links
        a( class=tab === 'result' ? 'active' : '' href="/pages/poll-result/" ) Результаты голосования
        a( class=tab === 'registry' ? 'active' : '' href="/pages/poll-result/registry.html" ) Журнал голосования
        a( class=tab === 'in-person' ? 'active' : '' href="/pages/poll-result/in-person.html" ) Результаты очного голосвания

        .b-tab-links__decor

    hr
    
    .b-check-detail__block
      hr
      if tab === 'result'
        include result
      else if tab === 'registry'
        include registry
      else if tab === 'in-person'
        include in-person

// end /components/poll-result/