// start /components/profile.getExcerpt/

//- push style and script file to the end of the page
if componentsArray
  - componentsArray[ componentsArray.length ] = 'profile.getExcerpt'
else
  - var componentsArray = [ 'profile.getExcerpt' ]

script( src="/components/profile.getExcerpt/bx.ajax.runAction.js" )

script( src="https://cdn.jsdelivr.net/npm/vue@2" )
script( src="https://unpkg.com/vuex@3" )

#getExcerptApp( data-ornz='54321' data-types='[{ "id": "123", "name": "Стандартная выписка", "selected": "true" },{ "id": "456", "name": "Расширенная выписка" }]')
  
// end /components/profile.getExcerpt/