h3.mt-0 Список сотрудников организации на 12 января 2023

.b-check-detail__employees

  .b-employee-card
    a.b-employee-card__photo( href='/pages/check-detail/employee.html' style="background-image: url( '/upload/main/075/cherkasova.png' );")
    .b-employee-card__text
      .b-employee-card__title
        a( href='/pages/check-detail/employee.html' ) Вишневская Наталья Владимировна
      .b-employee-card__ornz 22006014052
      .b-employee-card__status Основное

  .b-employee-card
    a.b-employee-card__photo( href='/pages/check-detail/employee.html' style="background-image: url( '/upload/main/075/cherkasova.png' );")
    .b-employee-card__text
      .b-employee-card__title
        a( href='/pages/check-detail/employee.html' ) Вишневская Наталья Владимировна
      .b-employee-card__ornz 22006014052
      .b-employee-card__status Основное

  .b-employee-card
    a.b-employee-card__photo( href='/pages/check-detail/employee.html' style="background-image: url( '/upload/main/075/cherkasova.png' );")
    .b-employee-card__text
      .b-employee-card__title
        a( href='/pages/check-detail/employee.html' ) Вишневская Наталья Владимировна
      .b-employee-card__ornz 22006014052
      .b-employee-card__status Основное

  .b-employee-card
    a.b-employee-card__photo( href='/pages/check-detail/employee.html' style="background-image: url( '/upload/main/075/cherkasova.png' );")
    .b-employee-card__text
      .b-employee-card__title
        a( href='/pages/check-detail/employee.html' ) Вишневская Наталья Владимировна
      .b-employee-card__ornz 22006014052
      .b-employee-card__status Основное

  .b-employee-card
    a.b-employee-card__photo( href='/pages/check-detail/employee.html' style="background-image: url( '/upload/main/075/cherkasova.png' );")
    .b-employee-card__text
      .b-employee-card__title
        a( href='/pages/check-detail/employee.html' ) Вишневская Наталья Владимировна
      .b-employee-card__ornz 22006014052
      .b-employee-card__status Основное

  .b-employee-card
    a.b-employee-card__photo( href='/pages/check-detail/employee.html' style="background-image: url( '/upload/main/075/cherkasova.png' );")
    .b-employee-card__text
      .b-employee-card__title
        a( href='/pages/check-detail/employee.html' ) Вишневская Наталья Владимировна
      .b-employee-card__ornz 22006014052
      .b-employee-card__status Основное

  .b-employee-card
    a.b-employee-card__photo( href='/pages/check-detail/employee.html' style="background-image: url( '/upload/main/075/cherkasova.png' );")
    .b-employee-card__text
      .b-employee-card__title
        a( href='/pages/check-detail/employee.html' ) Вишневская Наталья Владимировна
      .b-employee-card__ornz 22006014052
      .b-employee-card__status Основное