.b-check-detail__reports
  h3.mt-0 Отчет организации

  .b-reports-list
    .b-reports-list__item.b-reports-list__item--empty
      .b-reports-list__year 2023
      .b-reports-list__item-content
        .b-reports-list__text
          a.b-reports-list__title( href="" ) Годовой отчет аудиторской организации за 2022
          .b-reports-list__date.small
            .label-red
              span Не сдан
        .b-reports-list__button

  hr

  a.btn.btn-dark.btn-md( href="/pages/check-detail/reports-all.html" ) Все отчеты

  hr

  h3.mt-0 Отчеты сотрудников организации на 12 января 2023

  .b-check-detail__employees

    .b-employee-card
      a.b-employee-card__photo( href='/pages/check-detail/employee.html' style="background-image: url( '/upload/search/1.jpg' );")
      .b-employee-card__text
        .b-employee-card__title
          a( href='/pages/check-detail/employee.html' ) Вишневская Наталья Владимировна
        .b-employee-card__ornz 22006014052
        .b-employee-card__status Основное

    .b-employee-card
      a.b-employee-card__photo( href='/pages/check-detail/employee.html' style="background-image: url( '/upload/search/1.jpg' );")
      .b-employee-card__text
        .b-employee-card__title
          a( href='/pages/check-detail/employee.html' ) Вишневская Наталья Владимировна
        .b-employee-card__ornz 22006014052
        .b-employee-card__status Основное

    .b-employee-card
      a.b-employee-card__photo( href='/pages/check-detail/employee.html' style="background-image: url( '/upload/search/1.jpg' );")
      .b-employee-card__text
        .b-employee-card__title
          a( href='/pages/check-detail/employee.html' ) Вишневская Наталья Владимировна
        .b-employee-card__ornz 22006014052
        .b-employee-card__status Основное

    .b-employee-card
      a.b-employee-card__photo( href='/pages/check-detail/employee.html' style="background-image: url( '/upload/search/1.jpg' );")
      .b-employee-card__text
        .b-employee-card__title
          a( href='/pages/check-detail/employee.html' ) Вишневская Наталья Владимировна
        .b-employee-card__ornz 22006014052
        .b-employee-card__status Основное

    .b-employee-card
      a.b-employee-card__photo( href='/pages/check-detail/employee.html' style="background-image: url( '/upload/search/1.jpg' );")
      .b-employee-card__text
        .b-employee-card__title
          a( href='/pages/check-detail/employee.html' ) Вишневская Наталья Владимировна
        .b-employee-card__ornz 22006014052
        .b-employee-card__status Основное

    .b-employee-card
      a.b-employee-card__photo( href='/pages/check-detail/employee.html' style="background-image: url( '/upload/search/1.jpg' );")
      .b-employee-card__text
        .b-employee-card__title
          a( href='/pages/check-detail/employee.html' ) Вишневская Наталья Владимировна
        .b-employee-card__ornz 22006014052
        .b-employee-card__status Основное

    .b-employee-card
      a.b-employee-card__photo( href='/pages/check-detail/employee.html' style="background-image: url( '/upload/search/1.jpg' );")
      .b-employee-card__text
        .b-employee-card__title
          a( href='/pages/check-detail/employee.html' ) Вишневская Наталья Владимировна
        .b-employee-card__ornz 22006014052
        .b-employee-card__status Основное