.b-check-detail__reports

  h3.mt-0 Отчеты ООО Ромашка

  hr

  table.table.table-responsive
    thead
      tr
        th.asc( data-field="title" ) Дата сдачи
        th( data-field="id" ) Название отчета
        th( data-field="start" ) Статус
    tbody
      tr( data-url="/pages/check-detail/reports-detail.html" data-target="_self" )
        td.asc 03.11.2022
        td Уточненный отчет аудиторской организации за первое полугодие 2022 года номер 192733, cоздан 99999999998
        td 
          .label-gray
            span Черновик

      tr( data-url="/pages/check-detail/reports-detail.html" data-target="_self" )
        td.asc 17.09.2022
        td Отчет аудиторской организации за первое полугодие 2022 года номер 192733, cоздан 99999999998
        td 
          .label-blue
            span Ожидает рассмотрения
            
      tr( data-url="/pages/check-detail/reports-detail.html" data-target="_self" )
        td.asc 11.02.2022
        td Уточненный отчет «Форма 2-аудит» за 2021 номер 198764, cоздан 99999999998
        td 
          .label-green
            span Опубликован
            
      tr( data-url="/pages/check-detail/reports-detail.html" data-target="_self" )
        td.asc 07.05.2020
        td О наличии доступа к гос.тайне номер 156973, cоздан 99999999998
        td 
          .label-green
            span Опубликован

  hr

  include ../../modules/pagination/include

  hr

  a.btn.btn-serve.btn-md( href="/pages/check-detail/employees.html" )
    svg.icon (xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
      g(transform="translate(-108 -316)")
        g
          path(d="M3,10h8A5,5,0,0,0,11,0H0" transform="translate(112.13 324.31)" fill="none" stroke="#5f7696" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5")
          path(d="M2.56,5.12,0,2.56,2.56,0" transform="translate(111.87 321.69)" fill="none" stroke="#5f7696" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5")
          path(d="M0,0H24V24H0Z" transform="translate(132 340) rotate(180)" fill="none" opacity="0")
    span Вернуться