@import '../../styl/component-include.styl'

.b-check-detail-sign

  &-error
    position fixed
    top 0
    left 0
    width 100%
    height 100vh
    background-color #000000bb
    display flex
    justify-content center
    align-items center
    z-index 1000

    &__content
      background #a00
      border-radius 10px
      padding 20px
      color #fff

  &-loader
    min-height 300px
    display flex
    justify-content center
    align-items center

  .circle-loader
    justify-content center

  &.ph-block
    
    &.ph-block--animated
      
      .ph-content
        position static
        width auto
        opacity 1
        
      .ph
        position absolute
        top 0
        left 0
        width 100%
        opacity 0
        z-index -1

.b-check-detail-sign
  margin-top 2rem

  &-error
    position fixed
    top 0
    left 0
    width 100%
    height 100vh
    background-color #000000bb
    display flex
    justify-content center
    align-items center
    z-index 1000

    &__content
      background #a00
      border-radius 10px
      padding 20px
      color #fff

  .b-docs-block
  
      &__item
          display flex
          justify-content space-between
          align-items center
          margin-bottom 32px

          @media(max-width 767px)
            display block

      &__body

        @media(max-width 767px)
          margin-bottom 1rem

      &__icon
        width 44px
        height 44px
        margin-right 10px
        margin-bottom 0

      &__text

        a
          font-weight $bold
          font-size $16px
          line-height 18px
          margin-bottom 0

      &__button
        display flex
        justify-content flex-end
        align-items center
        padding-left 20px

        @media(max-width 767px)
          justify-content center
          padding-left 0

      &__signed
        display flex
        justify-content flex-end
        align-items center

        @media(max-width 767px)
          justify-content center

        > div
          font-size $16px
          white-space nowrap
          padding-left 20px

          @media(max-width 767px)
            padding 0 10px