@import '../../styl/component-include.styl'

.b-checkbox
  max-width 700px
  --aas-checkbox-width 24px
  --aas-checkbox-height 24px
  --aas-checkbox-checked-before-top 4px
  --aas-checkbox-checked-before-left 3px
  --aas-checkbox-checked-before-width 8px
  --aas-checkbox-checked-before-height 13px
  --aas-checkbox-span-min-height 25px
  --aas-checkbox-span-padding-left calc(var(--aas-checkbox-width) + 20px)

  label
    margin-bottom 0

  [type="checkbox"]
  
    &:not(:checked),
    &:checked
      position absolute
      opacity 0
      pointer-events none

    &+span
      position relative
      padding-left var(--aas-checkbox-span-padding-left)
      cursor pointer
      display inline-block
      min-height var(--aas-checkbox-span-min-height)
      user-select none

    &.filled-in
    
      &+span
        font-size 0.625rem

        &:before,
        &:after
          content ''
          left 0
          position absolute
          -webkit-transition border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s
          transition border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s
          z-index 1

      &:not(:checked)
      
        &+span:before
          width 0
          height 0
          border 3px solid transparent
          left 6px
          top 10px
          -webkit-transform rotateZ(37deg)
          transform rotateZ(37deg)
          -webkit-transform-origin 100% 100%
          transform-origin 100% 100%

        &+span:after
          height var(--aas-checkbox-width)
          width var(--aas-checkbox-height)
          background-color $form-control-color
          top 0px
          border-radius 5px
          z-index 0

      &:checked+span
      
        &:before
          top var(--aas-checkbox-checked-before-top)
          left var(--aas-checkbox-checked-before-left)
          width var(--aas-checkbox-checked-before-width)
          height var(--aas-checkbox-checked-before-height)
          border-top 2px solid transparent
          border-left 2px solid transparent
          border-right 2px solid #003B78
          border-bottom 2px solid #003B78
          -webkit-transform rotateZ(37deg)
          transform rotateZ(37deg)
          -webkit-transform-origin 100% 100%
          transform-origin 100% 100%

        &:after
          top 0
          width var(--aas-checkbox-width)
          height var(--aas-checkbox-height)
          background-color $form-control-color
          border-radius 5px
          z-index 0

      &.tabbed
      
        &:focus+span:after
          border-radius 2px
          border-color #5a5a5a
          background-color rgba(0,0,0,0.1)

        &:checked:focus+span:after
          border-radius 2px
          background-color #26a69a
          border-color #26a69a

      &:disabled:not(:checked)+span
      
        &:before
          background-color transparent
          border 2px solid transparent

        &:after
          border-color transparent
          background-color #949494

      &:disabled:checked+span
      
        &:before
          background-color transparent

        &:after
          background-color #949494
          border-color #949494

  &.invalid

    [type="checkbox"].filled-in:not(:checked)+span
      color #f00
    
      &:after
        background-color: #f00

  &.b-checkbox--32x32
    --aas-checkbox-width 32px
    --aas-checkbox-height 32px
    --aas-checkbox-checked-before-top 6px
    --aas-checkbox-checked-before-left 4px
    --aas-checkbox-checked-before-width 12px
    --aas-checkbox-checked-before-height 17px
    --aas-checkbox-span-min-height 32px

  &.b-checkbox--no-text
    --aas-checkbox-span-padding-left var(--aas-checkbox-width)