.b-docs-block.b-docs-block--gray.b-docs-block--with-dots

  .b-docs-block__item( href="/pages/news/" )
  
    .b-docs-block__body

      a.b-docs-block__icon( href="/pages/news/" style="background-image: url( '/template/images/pdf.svg' );" )
      
      span.b-docs-block__text
      
        a( href="/pages/news/" ) Выписка-152156-ФC/24
        
        span.b-docs-block__data
          span.text-muted 654 Кб .doc
          span.text-muted Дата создания: 20 июня 2024 11:55:06

      .b-docs-block__data
        a.b-docs-block__file( target="_blank" href="" style="background-image: url('/template/images/pdf.svg')") 654 Кб
        .b-docs-block__more
          a.b-docs-block__more__button( href="#" style="background-image: url('/template/images/more-btn.svg')")
          .b-docs-block__more__files
            span Для некоторых сервисов требуется формат PDF + .sig
            a( href="" target="_blank" style="background-image: url('/template/images/pdf.svg')") pdf
            a( href="" target="_blank" style="background-image: url('/template/images/sig.svg')") sig
          