.b-docs-block__item.b-docs-block__item--button.b-docs-block__item--gray.b-docs-block__item--32x44( href="/pages/news/" )

  .b-docs-block__body
  
    a.b-docs-block__icon( href="/pages/news/" style="background-image: url( '/template/images/pdf.svg' );" )
    
    span.b-docs-block__text
    
      a( href="/pages/news/" )
        b Протокол заседания дисицплинарной комиссии 234
      
      span.b-docs-block__data
        span 654 Кб .doc
        span Дата публикации: 15 января 2020
        span Автор: Азарянц Ашот Александрович

    button.btn-remove( data-id="123" )
      svg(xmlns="http://www.w3.org/2000/svg" width="16.251" height="20" viewBox="0 0 16.251 20")
        path(d="M24.7,11.1H21.264v-.626A1.875,1.875,0,0,0,19.39,8.6h-2.5a1.875,1.875,0,0,0-1.874,1.874V11.1H11.576a1.562,1.562,0,0,0-1.561,1.563v1.25a.624.624,0,0,0,.624.624h15a.625.625,0,0,0,.626-.624v-1.25A1.563,1.563,0,0,0,24.7,11.1Zm-8.438-.626a.625.625,0,0,1,.624-.624h2.5a.625.625,0,0,1,.624.624V11.1h-3.75Z" transform="translate(-10.015 -8.601)")
        path(d="M10.941,13.909a.2.2,0,0,0-.2.2l.516,10.822a1.873,1.873,0,0,0,1.873,1.786h9.492A1.873,1.873,0,0,0,24.5,24.935l.516-10.822a.2.2,0,0,0-.2-.2Zm9.44,1.561a.625.625,0,0,1,1.25,0V23.6a.625.625,0,1,1-1.25,0Zm-3.126,0a.625.625,0,0,1,1.25,0V23.6a.625.625,0,1,1-1.25,0Zm-3.126,0a.625.625,0,0,1,1.25,0V23.6a.625.625,0,1,1-1.25,0Z" transform="translate(-9.823 -6.721)")
