.b-docs-block__item.b-docs-block__item--32x44.p-16.bg-fa( href="/pages/news/" )

  .b-docs-block__body
  
    a.b-docs-block__icon( href="/pages/news/" style="background-image: url( '/template/images/pdf.svg' );" )
    
    span.b-docs-block__text
    
      a( href="/pages/news/" )
        b Протокол заседания дисицплинарной комиссии 234
      
      span.b-docs-block__data
        span 654 Кб .doc
        span Дата публикации: 15 января 2020
        span Автор: Азарянц Ашот Александрович