// start /components/dc.case.detail.actions/

//- push style and script file to the end of the page
if componentsArray
  - componentsArray[ componentsArray.length ] = 'dc.case.detail.actions'
else
  - var componentsArray = [ 'dc.case.detail.actions' ]

script( src="/components/dc.case.detail.actions/bx.ajax.runAction.js" )

script( src="https://cdn.jsdelivr.net/npm/vue@2" )
script( src="https://unpkg.com/vuex@3" )
  
#dcCaseDetailActions
  
// end /components/dc.case.detail.actions/