.vue2-component

  &-error
    position fixed
    top 0
    left 0
    width 100%
    height 100vh
    background-color #ffffffbb
    display flex
    justify-content center
    align-items center
    text-align left
    z-index 1000

    &__content
      background #FF3939
      border-radius 7px
      padding 29px 40px 29px 34px
      color #fff
      display flex
      justify-content space-between
      align-items center
      width 80%

    &__text
      display flex
      justify-content flex-start
      align-items center

      svg
        margin-right 2rem

    .btn
      background-color #ffffff33
      color #fff

      &:hover
        background-color #ffffff44