@import '../../styl/component-include.styl'

.b-payment

  &.ph-block
    
    &.ph-block--animated
      
      .ph-content
        position static
        width auto
        opacity 1
        
      .ph
        position absolute
        top 0
        left 0
        width 100%
        opacity 0
        z-index -1

.b-payment

  h3
    margin-top 0
    margin-bottom 40px

  .b-num-block
    width 180px

    &__data

      span
        font-size $9px

    &--balance
      background-color #fafafa
      color #9b9b9b

  #inbox-filter
    display flex
    justify-content flex-start

    > div
      width calc((100% - 30px * 4) / 9 * 2)
      min-width 248px
      margin-right 30px

      &:last-child
        margin-right 0

    @media( max-width 1199px )
      flex-wrap wrap
      justify-content space-between
      
      > div
        width calc( (100% - 30px) / 2 )
        min-width 0
        margin 0 0 30px

    @media( max-width 767px )
      flex-wrap wrap
      
      > div
        width 100%
        margin 0 0 30px

        &:last-child
          margin-bottom 0

  &__form

    form
      display flex
      justify-content space-between
      align-items flex-end

      @media( max-width 575px )
        display block

  .b-form

    &-field
      width calc( 100% - 178px )

      label
        font-size $10px
        display block
        margin-bottom 8px

      @media( max-width 575px )
        width 100%

  input.b-form-input
    background-color $line-color
    border-radius 5px
    padding 10px 15px
    height 48px
    line-height 28px
    font-size $14px
    border 0
    width 100%

    &::selection
      background-color $secondary-color
      color #fff
    
    &[type=search]:focus
      outline none
      border-bottom 0

  input[type="search"]
    -webkit-appearance textfield
    -moz-box-sizing border-box
    -webkit-box-sizing border-box
    box-sizing border-box

  &-warning
    background-color #FFEAEA
    border-radius 7px
    padding 30px 38px
    color #FF0000
    display flex
    justify-content space-between
    align-items center
    font-family $roboto
    font-size $14px

    span
      margin-right 1rem
      line-height 1.2

  &-table-heading

    h2
      margin-bottom 0

    a
      font-family $roboto
      font-size $14px

  table.table
    font-family $roboto

    td
      font-size $14px
      text-align left
      vertical-align middle
      border-top none
      border-bottom 1px solid $line-color

      &.normal
        color $secondary-color-2

      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(4)
        white-space nowrap
        
      &:nth-child(3)
        min-width 50%

      @media( max-width 991px )

        &:nth-child(4) 
          display table-cell

      @media( max-width 575px )

        &:nth-child(2)
          display table-cell

    tbody

      tr
        transition-fn( background-color .5s ease )
      
        &:hover
          background-color #fcfcfc

        &[data-url]
          cursor pointer

        &:first-child

          td
            border-top 1px solid $line-color

  .table tbody+tbody
    border-top 0

.text-normal
  color #F2762E

.form-control-wrapper
  position relative

.form-control-select + label
  color #2b2b2b
  position absolute
  top 0
  left 15px
  font-size 0.69rem
  cursor text
  transition-fn( transform 0.2s ease-out)
  transform-origin 0% 100%
  text-align initial
  transform( translateY(-22px))

.form-control-select .vs__dropdown-toggle {
  background-color: $form-control-color;
  border: 0;
  border-radius: 3px;
}
.form-control-select .vs__search, .form-control-select .vs__search:focus {
  height: 48px;
  margin: 0;
  padding: 0 15px;
  border: 0;
}
.form-control-select input.vs__search[type=search], .form-control-select input.vs__search:focus[type=search] {
  -webkit-appearance: none;
  border-radius: 0;
}
.form-control-select .vs__dropdown-toggle {
  padding: 0;
}
.form-control-select .vs__selected-options {
  padding: 0;
}
.form-control-select .vs__selected {
  position: absolute;
  pointer-events: none;
  margin: 0;
  padding: 0;
  border: 0;
  height: 48px;
  padding: 0 15px;
  font-size $14px
  z-index: 1;
}
.form-control-select input[type=search]:focus:not([readonly]) {
  border: 0 !important;
}
.form-control-select .vs__dropdown-menu {
  padding: 0;
  box-shadow: 0 5px 5px #eee;
  border: 0;
  border-radius: 0 0 5px 5px;
  font-size $14px
}
.form-control-select .vs__dropdown-option {
  line-height 1.2
  padding 12px 15px
  white-space normal
	color: #3b3b3b;
  margin: 0;
}
.form-control-select .vs__dropdown-option:hover {
	cursor: pointer
}
.form-control-select .vs__dropdown-option--highlight {
  background: $form-control-color;
	color: #5F7696

}
.form-control-select .vs__clear {
  display: none !important;
}
.form-control-select input[type=search] {
  width: 0;
}
.form-control-select .vs__actions {
  padding: 0 15px 0 3px;
}
.form-control-select .vs__search
  
  &,
  &:focus
    font-size $14px

.mx-input {
  font-size: 0.88rem !important;
  padding: 0 30px 0 15px !important;
}
.mx-icon-calendar {
  width: 16px;
  height: 16px;
  background: url('/local/templates/aas/images/calendar.svg') no-repeat center;
  background-size: cover;
  cursor: pointer;
  right: 15px !important;
}
.mx-icon-calendar svg {
  display: none;
}
.b-payment .mx-datepicker {
  width: 100% !important;
}
.mx-datepicker+label {
  pointer-events: none;
}

.b-input-clear {
  position: absolute;
  top: 50%;
  right: 10px;
  width: 16px;
  height: 16px;
  cursor: pointer;
  background: url( 'https://auditor-sro.org/local/templates/aas/images/cancel.svg' ) no-repeat center;
  background-size: 16px;
  margin-top: -8px;
  z-index: 1;
}
