extends ../../layouts/main

block vars
  - var page = 'pages-dc-detail'
  - var authorized = 'true'

block title
  title Дисциплинарная комиссия детально| AAS

block content

  hr

  .container-fluid
  
    include ../../modules/breadcrumbs/dc

  hr

  .container-fluid
  
    h1 Дисциплинарная комиссия
  
    .row.justify-content-md-between
      
      aside.col-3.d-none.d-md-block
        
        include ../../components/left-menu/dc
          
      article.col-12.col-md-9
        
        include ../../components/dc.detail/template
  
    