.b-dc-meetings-detail__data

  h3.mt-0 Общие данные

  .row
    .col-lg-6 
      table.table
        colgroup
          col( style="width: 50%" )
          col( style="width: 50%" )
        tbody
          tr
            th Номер заседания
            td N3456
              span.b-copy-icon( style="background-image: url('/template/images/copy-30.svg')")
          tr
            th Дата заседания
            td 21.05.2024
              span.b-copy-icon( style="background-image: url('/template/images/copy-30.svg')")
          tr
            th Начало заседания
            td 18:00
              span.b-copy-icon( style="background-image: url('/template/images/copy-30.svg')")
          tr
            th Вопросов
            td 198
              span.b-copy-icon( style="background-image: url('/template/images/copy-30.svg')")

    .col-lg-6 
      table.table
        colgroup
          col( style="width: 50%" )
          col( style="width: 50%" )
        tbody
          tr
            th Статус
            td
              span.label-orange
                span Идет
              span.b-copy-icon( style="background-image: url('/template/images/copy-30.svg')")

hr.hr--sl

.b-dc-meetings-detail__comission
  h3 Состав комиссии

  .d-flex.flex-column.gap-row-16

    .gap-column-20.br-8.bg-fa.p-16.d-flex.align-items-center.justify-content-between.font-roboto
      a( href="" )
        img( src="/upload/search/3.jpg" width="32" height="32" alt="Черкасова Наталья Владимировна" )
      a.w-50x( href="" ) Черкасова Наталья Владимировна
      span.w-50x Председатель

    .gap-column-20.br-8.bg-fa.p-16.d-flex.align-items-center.justify-content-between.font-roboto
      a( href="" )
        img( src="/upload/search/3.jpg" width="32" height="32" alt="Сорокина Елена Львовна" )
      a.w-50x( href="" ) Сорокина Елена Львовна
      span.w-50x Секретарь

    .gap-column-20.br-8.bg-fa.p-16.d-flex.align-items-center.justify-content-between.font-roboto
      a( href="" )
        img( src="/upload/search/3.jpg" width="32" height="32" alt="Бутовский Владимир Викторович" )
      a.w-50x( href="" ) Бутовский Владимир Викторович
      span.w-50x Член ДК

    .gap-column-20.br-8.bg-fa.p-16.d-flex.align-items-center.justify-content-between.font-roboto
      a( href="" )
        img( src="/upload/search/3.jpg" width="32" height="32" alt="Громов Игорь Евгеньевич" )
      a.w-50x( href="" ) Громов Игорь Евгеньевич
      span.w-50x Член ДК

    .gap-column-20.br-8.bg-fa.p-16.d-flex.align-items-center.justify-content-between.font-roboto
      a( href="" )
        img( src="/upload/search/3.jpg" width="32" height="32" alt="Козлов Александр Васильевич" )
      a.w-50x( href="" ) Козлов Александр Васильевич
      span.w-50x Член ДК

    .gap-column-20.br-8.bg-fa.p-16.d-flex.align-items-center.justify-content-between.font-roboto
      a( href="" )
        img( src="/upload/search/3.jpg" width="32" height="32" alt="Павлова Марина Борисовна" )
      a.w-50x( href="" ) Павлова Марина Борисовна
      span.w-50x Член ДК

    .gap-column-20.br-8.bg-fa.p-16.d-flex.align-items-center.justify-content-between.font-roboto
      a( href="" )
        img( src="/upload/search/3.jpg" width="32" height="32" alt="Попова Наталья Ивановна" )
      a.w-50x( href="" ) Попова Наталья Ивановна
      span.w-50x Член ДК

hr.hr--sl

.b-dc-meetings-detail__files
  h3 Файлы заседания
  include ../../modules/docs/single-gray-32x44