h3.mt-0 Участники дисциплинарного заседания

table.table.table-responsive
  colgroup 
    col( style="width: auto;" )
    col( style="width: 200px;" )
    col( style="width: 80px;" )
    col( style="width: 80px;" )
    col( style="width: 50px;" )
    col( style="width: 200px;" )
  thead
    tr
      th Участник
      th Участник
      th Вопрос
      th Время
      th Дело
      th Статус
  tbody
    tr( data-url="/pages/dc-meeting-detail/" data-target="_self" )
      td Иванов Петр Михайлович<br>12006025503
      td Заявитель
      td 1
      td 11:00
      td 64
      td 
        span.label-red
          span Получил ссылку
    tr( data-url="/pages/dc-meeting-detail/" data-target="_self" )
      td Иванов Петр Михайлович<br>12006025503
      td Заявитель
      td 1
      td 11:00
      td 64
      td 
        span.label-gray
          span Не участвует
    tr( data-url="/pages/dc-meeting-detail/" data-target="_self" )
      td Иванов Петр Михайлович<br>12006025503
      td Заявитель
      td 1
      td 11:00
      td 64
      td 
        span.label-red
          span Получил ссылку
    tr( data-url="/pages/dc-meeting-detail/" data-target="_self" )
      td Иванов Петр Михайлович<br>12006025503
      td Заявитель
      td 1
      td 11:00
      td 64
      td 
        span.label-red
          span Получил ссылку