h3.mt-0 Вопросы дисицплинарного заседания

table.table.table-responsive.bt-1
  colgroup 
    col( style="width: 80px;" )
    col( style="width: 80px;" )
    col( style="width: 160px;" )
    col( style="width: 160px;" )
    col( style="width: auto;" )
    col( style="width: 100px;" )
    col( style="width: 150px;" )
    col( style="width: 160px;" )
  thead
    tr
      th Вопрос
      th Дело / Жалоба
      th Объект
      th Заявитель
      th Приглашенные
      th Время
      th Статус
      th
  tbody
    tr
      td 1
      td 64
      td Иванов Петр Михайлович<br>12006025503
      td Сидоров Петр Матвеевич<br>12006025503
      td АО "АКФ "МИАН"<br>12006025503
      td 11:00
      td 
        span.label-blue
          span Запланирован
      td
        a.btn-edit( href="" )
          svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
            g
              path(d="M9.263,1.439l-8.21,8.69a3.05,3.05,0,0,0-.67,1.43L.013,14.8a1.527,1.527,0,0,0,1.87,1.77l3.22-.55a2.871,2.871,0,0,0,1.39-.75l8.21-8.69c1.42-1.5,2.06-3.21-.15-5.3C12.353-.791,10.683-.061,9.263,1.439Z" transform="translate(4.002 3.701)")
              path(d="M0,0A6.126,6.126,0,0,0,5.45,5.15" transform="translate(11.895 6.59)")
              path(d="M0,0H24V24H0Z" fill="none" opacity="0")

        include ../../modules/checkbox/no-text-32x32
    
    tr
      td 2
      td 564Ж120824
      td Иванов Иван Федорович<br>12006025503
      td Абельян Сидр Ахметович<br>12006025503
      td ООО «Инвестаудит»<br>12006025503
      td 11:00
      td 
        span.label-blue
          span Запланирован
      td
        a.btn-edit( href="" )
          svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
            g
              path(d="M9.263,1.439l-8.21,8.69a3.05,3.05,0,0,0-.67,1.43L.013,14.8a1.527,1.527,0,0,0,1.87,1.77l3.22-.55a2.871,2.871,0,0,0,1.39-.75l8.21-8.69c1.42-1.5,2.06-3.21-.15-5.3C12.353-.791,10.683-.061,9.263,1.439Z" transform="translate(4.002 3.701)")
              path(d="M0,0A6.126,6.126,0,0,0,5.45,5.15" transform="translate(11.895 6.59)")
              path(d="M0,0H24V24H0Z" fill="none" opacity="0")

        include ../../modules/checkbox/no-text-32x32
    tr
      td 3
      td 64
      td Иванов Петр Михайлович<br>12006025503
      td Сидоров Петр Матвеевич<br>12006025503
      td ООО «ИНТЭК-Аудит»<br>12006025503
      td 11:00
      td 
        span.label-blue
          span Запланирован
      td
        a.btn-edit( href="" )
          svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
            g
              path(d="M9.263,1.439l-8.21,8.69a3.05,3.05,0,0,0-.67,1.43L.013,14.8a1.527,1.527,0,0,0,1.87,1.77l3.22-.55a2.871,2.871,0,0,0,1.39-.75l8.21-8.69c1.42-1.5,2.06-3.21-.15-5.3C12.353-.791,10.683-.061,9.263,1.439Z" transform="translate(4.002 3.701)")
              path(d="M0,0A6.126,6.126,0,0,0,5.45,5.15" transform="translate(11.895 6.59)")
              path(d="M0,0H24V24H0Z" fill="none" opacity="0")

        include ../../modules/checkbox/no-text-32x32
    tr
      td 4
      td 64
      td Иванов Петр Михайлович<br>12006025503
      td Иванов Петр Михайлович<br>12006025503
      td АО "АКФ "МИАН"<br>12006025503
      td 11:00
      td 
        span.label-blue
          span Запланирован
      td
        a.btn-edit( href="" )
          svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
            g
              path(d="M9.263,1.439l-8.21,8.69a3.05,3.05,0,0,0-.67,1.43L.013,14.8a1.527,1.527,0,0,0,1.87,1.77l3.22-.55a2.871,2.871,0,0,0,1.39-.75l8.21-8.69c1.42-1.5,2.06-3.21-.15-5.3C12.353-.791,10.683-.061,9.263,1.439Z" transform="translate(4.002 3.701)")
              path(d="M0,0A6.126,6.126,0,0,0,5.45,5.15" transform="translate(11.895 6.59)")
              path(d="M0,0H24V24H0Z" fill="none" opacity="0")

        include ../../modules/checkbox/no-text-32x32

hr.hr--sl

include ../../modules/block-with-buttons/dc