doctype html
html
  head
    title Отчёт
    meta( charset="utf-8" )
    
  body
    link( href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700" rel="stylesheet" )
    link( href="/components/pdf/report.css" rel="stylesheet" )

    table.header.table-800.mb-32
      col( width="120" )
      col( width="500" )
      col( width="180" )
      tr
        td.aas-logo( rowspan="4" )
          img( src="/template/images/logo-aas-small.svg" alt="СРО ААС" width="47" )
        td( rowspan="4" )
        td.header-companyname Саморегулируемая организация аудиторов

      tr
        td.header-companytitle Ассоциация «Содружество»
      tr
        td &nbsp;
      tr
        td.header-site sroaas.ru

    table.h1.table-800.mb-16
      tr
        td Отчет аудиторской организации за первое полугодие 2025 года номер 634814, cоздан 12006096614

    table.table-800.mb-32.items
      tr
        td.pb-4
          b Создан:
          | 90383ЛК250425
      tr
        td
          b Сдан:
          | 13.03.2025

    table.h2.table-800.mb-8
      tr
        td Основные сведения

    table.table-800.mb-32.items
      tr
        td.pb-4
          b Наименование организации:
          | ООО "АФ ВЕК"
      tr
        td.pb-4
          b ОГРН:
          | 5147746200927
      tr
        td
          b ОРНЗ:
          | 12006096614

    table.h2.table-800.mb-8
      tr
        td Осуществление предпринимательской деятельности

    table.table-800.mb-32.items
      tr
        td.pb-4
          b В т.ч. операций с денежными средствами или иным имуществом:
          | Нет
      tr
        td.pb-4
          b ОГРН:
          | 5147746200927
      tr
        td
          b ОРНЗ:
          | 12006096614

    table.table-800
      tr
        td
          table.stamp
            tr 
              td.fs12.pt12 ДОКУМЕНТ ПОДПИСАН
            tr 
              td.fs10 ПРОСТОЙ ЭЛЕКТРОННОЙ ПОДПИСЬЮ
            tr 
              td.fs6 СЕРВИС ОБРАЩЕНИЙ HTTPS://SROAAS.RU
            tr 
              td.fs6 25.04.2025
            tr 
              td.fs6.pb12 ИВАНОВ ИВАН ИВАНОВИЧ