// start /components/search.result/

//- push style and script file to the end of the page
if componentsArray
  - componentsArray[ componentsArray.length ] = 'search.result'
else
  - var componentsArray = [ 'search.result' ]
  
.b-search-result.ph-block

  .ph
    div
    div
    div
    div
    div
    div
    div

  .ph-content

    .b-search-result__container

      .b-search-result__item
        .b-search-result__title
          a(href="") Пресс-релиз Круглого стола на тему: «Кодекс этики и Правила независимости – ротация персонала, сложные вопросы, что надо учесть в локальных актах и в документировании»
        .b-search-result__text … ААС, руководитель учебного центра, аккредитованного при СРО ААС, директор ООО «АУДИТ-Партнер». В работе Круглого стола приняли участие: - Лимаренко Дмитрий Николаевич , член Правления СРО ААС, Председатель Комитета СРО ААС по информации, член Комитета СРО ААС по профессиональной …
        .b-search-result__info 
          span Путь:
            | 
            a(href="") Пресс-центр
          span 18.03.2024

      hr.hr--line.hr--sl

      .b-search-result__item
        .b-search-result__title
          a(href="") Пресс-релиз Круглого стола на тему: «Кодекс этики
        .b-search-result__text … ААС, руководитель учебного центра, аккредитованного при СРО ААС …
        .b-search-result__info 
          span Путь:
            | 
            a(href="") Пресс-центр
          span 18.03.2024

      hr.hr--line.hr--sl

      .b-search-result__item
        .b-search-result__title
          a(href="") Пресс-релиз Круглого стола на тему: «Кодекс этики и Правила независимости – ротация персонала, сложные вопросы, что надо учесть в локальных актах и в документировании»
        .b-search-result__text … ААС, руководитель учебного центра, аккредитованного при СРО ААС, директор ООО «АУДИТ-Партнер». В работе Круглого стола приняли участие: - Лимаренко Дмитрий Николаевич , член Правления СРО ААС, Председатель Комитета СРО ААС по информации, член Комитета СРО ААС по профессиональной …
        .b-search-result__info 
          span Путь:
            | 
            a(href="") Пресс-центр
          span 18.03.2024

      hr.hr--line.hr--sl

      .b-search-result__item
        .b-search-result__title
          a(href="") Пресс-релиз Круглого стола на тему: «Кодекс этики и Правила независимости – ротация персонала, сложные вопросы, что надо учесть в локальных актах и в документировании»
        .b-search-result__text … ААС, руководитель учебного центра, аккредитованного при СРО ААС, директор ООО «АУДИТ-Партнер». В работе Круглого стола приняли участие: - Лимаренко Дмитрий Николаевич , член Правления СРО ААС, Председатель Комитета СРО ААС по информации, член Комитета СРО ААС по профессиональной …
        .b-search-result__info 
          span Путь:
            | 
            a(href="") Пресс-центр
          span 18.03.2024

      hr.hr--line.hr--sl

    include ../../modules/pagination/include

// end /components/search.result/