@import '../../styl/component-include.styl'

.b-search-form

  &.ph-block
    
    &.ph-block--animated
      
      .ph-content
        position static
        width auto
        opacity 1
        
      .ph
        position absolute
        top 0
        left 0
        width 100%
        opacity 0
        z-index -1
    
.b-search-form
  
  &__form

    form
      display flex
      justify-content space-between
      align-items flex-end

      @media( max-width 575px )
        display block

  .b-form

    &-field
      width calc( 100% - 262px )

      label
        font-size $10px
        display block
        margin-bottom 8px

      @media( max-width 575px )
        width 100%

  input.b-form-input
    background-color $line-color
    border-radius 5px
    padding 10px 15px
    height 48px
    line-height 28px
    font-size $14px
    border 0
    width 100%

    &::selection
      background-color $secondary-color
      color #fff
    
    &[type=search]:focus
      outline none
      border-bottom 0

  input[type="search"]
    -webkit-appearance textfield
    -moz-box-sizing border-box
    -webkit-box-sizing border-box
    box-sizing border-box

  .btn
    min-width 242px
