.b-dc-case-detail__docs

  h3.mt-0 Документы

  p Документы дисциплинарного дела. Создаются сотрудником СРО ААС и доступны только членам дисциплинарной комиссии.

  h3 Файлы заседания

  include ../../modules/docs/single-delete