h3.mt-0 Заседания

table.table.table-responsive.bt-1
  colgroup 
    col( style="width: 155px;" )
    col( style="width: 86px;" )
    col( style="width: 175px;" )
    col( style="width: 94px;" )
    col( style="width: auto;" )
    col( style="width: 155px;" )
  tbody
    tr( data-url="/pages/dc-meeting-detail/" data-target="_self" )
      td 18 июля 2024<br>18:00
      td 150
      td Очное заседание
      td 560
      td Отложить рассмотрение дела в отношении члена СРО ААС 11606088082 OOO "КомКон-Аудит". Дата заседания и форма участия в нем будет сообщена участникам дисциплинарного производства дополнительно.
      td 
        span.label-orange
          span Идет
    tr( data-url="/pages/dc-meeting-detail/" data-target="_self" )
      td 18 июля 2024<br>18:00
      td 150
      td Очное заседание
      td 560
      td Отложить рассмотрение дела в отношении члена СРО ААС 11606088082 OOO "КомКон-Аудит". Дата заседания и форма участия в нем будет сообщена участникам дисциплинарного производства дополнительно.
      td 
        span.label-orange
          span Идет
    tr( data-url="/pages/dc-meeting-detail/" data-target="_self" )
      td 18 июля 2024<br>18:00
      td 150
      td Очное заседание
      td 560
      td Отложить рассмотрение дела в отношении члена СРО ААС 11606088082 OOO "КомКон-Аудит". Дата заседания и форма участия в нем будет сообщена участникам дисциплинарного производства дополнительно.
      td 
        span.label-orange
          span Идет
    tr( data-url="/pages/dc-meeting-detail/" data-target="_self" )
      td 18 июля 2024<br>18:00
      td 150
      td Очное заседание
      td 560
      td Отложить рассмотрение дела в отношении члена СРО ААС 11606088082 OOO "КомКон-Аудит". Дата заседания и форма участия в нем будет сообщена участникам дисциплинарного производства дополнительно.
      td 
        span.label-orange
          span Идет
    tr( data-url="/pages/dc-meeting-detail/" data-target="_self" )
      td 18 июля 2024<br>18:00
      td 150
      td Очное заседание
      td 560
      td Отложить рассмотрение дела в отношении члена СРО ААС 11606088082 OOO "КомКон-Аудит". Дата заседания и форма участия в нем будет сообщена участникам дисциплинарного производства дополнительно.
      td 
        span.label-orange
          span Идет
