extends ../../layouts/simple

block title
  title GUI | AAS

block content

  h1 Блоки
  
  ul
    li
      a( href="/gui/filter-table/" ) Таблица с фильтром
    li
      a( href="/gui/blocks/" ) Блоки
    li
      a( href="/gui/files/" ) Файлы
    li
      a( href="/gui/text/" ) Text
    li
      a( href="/gui/gallery/" ) Галерея, картинка
    li
      a( href="/gui/buttons/" ) Buttons
    li
      a( href="/gui/registry-report/" ) Table
    li
      a( href="/gui/modals/" ) Modals
    li
      a( href="/gui/left-menu/" ) Левое меню
    li
      a( href="/gui/search/" ) Поиск помощник
    li
      a( href="/gui/not-auth/" ) Пользователь не авторизован
    li
      a( href="/gui/docs/" ) Документы
    li
      a( href="/gui/bx-incl-header/" ) Режим правки, шапка
    li
      a( href="/gui/preappeal-popup/" ) Обращение Popup
    li
      a( href="/gui/vue-form/" ) Vue форма с collapse-блоками
  
  h2 GUI
  
  ul
    li
      a( href="/gui/gui/" ) Основные элементы сайта (GUI)
    li
      a( href="/gui/css-utils/" ) CSS utils - классы-помощники
    li
      a( href="/gui/vue2-components/" ) Vue2 components
  
  