@import '../../styl/component-include.styl'

.b-pagination

  &-all
    font-family $roboto

    ~ hr
      display none
  
  &-block
    font-family $roboto

    &.ph-block--animated
      opacity 1
      height auto
    
    a,
    span
      display inline-block
      vertical-align top
      margin 0 15px
      
      &.i-backward
        margin-left 15px
      
      &.i-forward
        margin-right 0
      
    span.i-active,
    &__current
      display inline-block
      vertical-align top
      pointer-events none

      &,
      &:hover,
      &:active
        color $text-color
        font-weight $bold
        opacity 1
      
    @media( max-width 767px )
      text-align center
      display flex
      justify-content space-around
      flex-wrap wrap
    
      a,
      span
        margin 0
        padding 5px
    
        &.i-backward,
        &.i-forward
          width 100%
          text-align center
          
          margin 0

  @media(max-width 767px)

    &-all 

      ~ hr
        display block
        width 100%

    &-all,
    &-block
      width: 100%
      