@import '../../styl/component-include.styl'

.b-check-detail-fileload

  &__p
    font-size $14px

  &-savebutton
    justify-content space-between

  &-savetext
    width 100%
    margin-left 30px

  &-error
    position fixed
    top 0
    left 0
    width 100%
    height 100vh
    background-color #ffffffbb
    display flex
    justify-content center
    align-items center
    z-index 1000

    &__content
      background #FF3939
      border-radius 7px
      padding 29px 40px 29px 34px
      color #fff
      display flex
      justify-content space-between
      align-items center
      width 80%

    &__text
      display flex
      justify-content flex-start

      svg
        margin-right 2rem

    .btn
      background-color #ffffff33
      color #fff

      &:hover
        background-color #ffffff44

  &-loader
    min-height 300px
    display flex
    justify-content center
    align-items center

  .circle-loader
    justify-content center

  &.ph-block
    
    &.ph-block--animated
      
      .ph-content
        position static
        width auto
        opacity 1
        
      .ph
        position absolute
        top 0
        left 0
        width 100%
        opacity 0
        z-index -1

.b-check-detail-fileload

    &__block,
    &__history
        background-color #FAFBFC
        border-radius 10px
        padding 32px
        position relative
        min-height 200px

        &--load
          position relative
          cursor default
          pointer-events none

          &:after
            content "";
            position absolute
            height 30px
            width 30px
            top calc(50% - 15px)
            right calc(50% - 15px)
            animation circle 1.3s infinite linear
            border 2px solid #8393AA
            border-radius 50%
            border-right-color transparent

        @media(max-width 575px)
            padding 20px


    &__history
      margin-bottom 30px

      &:last-child
        margin-bottom 0

      &-heading
        font-size $32px
        font-family $roboto
        font-weight $bold
        margin-bottom 20px

      &-comment
        background-color #fff
        border-radius 10px
        padding 25px 30px

        &-heading
          font-size $20px
          font-family $roboto
          font-weight $bold
          margin-bottom 20px

        &-grid
          display grid
          grid-template-columns: 150px 200px 1fr;
          grid-column-gap 30px
          grid-row-gap 10px
          font-family $roboto
          font-size $12px

        @media(max-width 575px)
            padding-right 20px
            padding-left 20px

            &-grid
                display block

                span
                    display block
                    margin-bottom 5px

                    &:nth-child(3n)
                        margin-bottom 15px

                    &:last-child
                        margin-bottom 0

    &__heading
        font-family $roboto
        font-weight $bold
        font-size $18px
        margin 0 40px 10px 0

    &__text
        font-size $14px
        max-width 700px

    &__history-icon,
    &__back-icon
        position absolute
        top 32px
        right 32px
        width 24px
        height 24px
        cursor pointer
        z-index 10

.b-form-control-cols
    display grid
    grid-template-columns calc(50% - 15px) calc(50% - 15px)
    gap 30px

    &__desc
        font-size $12px
        color #9B9B9B
        display flex
        align-items center

    @media(max-width 575px)
        display block

        &__control
            margin-bottom 20px

.b-moderation-form

  &__button
    display flex
    justify-content space-between
    align-items center

    a
      margin-right 30px

    div
      width 100%
      font-size $11px
      line-height 1.2

    @media(max-width 1200px)
      display block

      a
        margin-bottom 15px

      div
        margin-bottom 30px

  &__text
    font-size $14px

@keyframes circle
  0%
    transform( rotate(0))
  100%
    transform( rotate(360deg))

@import './style/collapse-vue-component.styl'
@import './style/files-collection.styl'
@import './style/file-vue-component.styl'
@import './style/multy-control-wrapper.styl'
@import './style/transition.styl'