// start /components/check.detail.fileload/

//- push style and script file to the end of the page
if componentsArray
  - componentsArray[ componentsArray.length ] = 'check.detail.fileload'
else
  - var componentsArray = [ 'check.detail.fileload' ]

script( src="/components/check.detail.fileload/bx.ajax.runAction.js" )
script( src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.min.js" )

script( src="https://cdn.jsdelivr.net/npm/vue@2" )
script( src="https://unpkg.com/vuex@3" )

script( src="https://unpkg.com/vue-select@latest")
link( rel="stylesheet" href="https://unpkg.com/vue-select@latest/dist/vue-select.css")
  
.b-check-detail-fileload.ph-block

  .ph
    div
    div
    div
    div
    div

  .ph-content

    #checkDetailFileload( data-vkkrid="5556" )
  
// end /components/check.detail.fileload/