h3 Ваши возможности

.b-appeal-wrapper

  .b-appeal-item
    .b-appeal-title Создать дело
    .b-appeal-text Вы можете создать новое дисциплинарное дело.
    a.btn.btn-secondary.btn-md(href='') Создать дело

  .b-appeal-item
    .b-appeal-title Создать заседание
    .b-appeal-text Вы можете создать новое заседание дисциплинарной комиссии.
    a.btn.btn-secondary.btn-md(href='') Создать заседание

  .b-appeal-item
    .b-appeal-title Техническая поддержа
    .b-appeal-text Если у вас возникла проблема, напишите в техническую поддержку о вашей проблеме
    a.btn.btn-secondary.btn-md(href='') Написать в поддержку