h2 Ваши возможности

.b-appeal-wrapper

  .b-appeal-item
    .b-appeal-title Ближайшие платежи
    .b-appeal-text Проверьте, какие платежи необходимо внести в ближайшее время.
    a.btn.btn-secondary.btn-md(href='') Проверить

  .b-appeal-item
    .b-appeal-title Поддержка
    .b-appeal-text Если у вас возник вопрос, напишите его нам в поддержку.
    a.btn.btn-secondary.btn-md(href='') Создать обращение