.b-block-with-buttons
  h3 Вы можете
  .b-block-with-buttons__buttons
  
    button.btn.btn-secondary( data-toggle="modal" data-target="#getExcerptModal" )
      span.icon( style="background-image: url( '/template/images/icon-edit-white.svg' );" )
      span Отредактировать

    button.btn.btn-danger
      span.icon( style="background-image: url( '/template/images/icon-remove-white.svg' );" )
      span Удалить