.b-block-with-buttons
  h3 Вы можете
  .b-block-with-buttons__buttons
  
    button.btn.btn-secondary
      span.icon( style="background-image: url( '/template/images/icon-excerpt.svg' );" )
      span Получить выписку

    button.btn.btn-danger
      span.icon( style="background-image: url( '/template/images/icon-complaint.svg' );" )
      span Подать жалобу