@import '../../styl/component-include.styl'

.b-block-with-buttons
  border-radius 10px
  border 1px solid $line-color
  padding 32px 32px 37px 32px

  h3
    margin 0 0 16px 0


  &__buttons
    display flex
    justify-content flex-start
    align-items center

    .btn
      padding-right 24px
      padding-left 24px
    
      &:first-child
        margin-right 24px