extends ../../layouts/main

block vars
  - var page = 'pages-payment-history'
  - var authorized = 'true'

block title
  title История операций | AAS

block content

  hr

  .container-fluid
  
    include ../../modules/breadcrumbs/payment

  hr

  .container-fluid
    
    h1 История операций
    
    .row.justify-content-md-between
      
      aside.col-3.d-none.d-md-block
        
        include ../../components/left-menu/payment
          
      article.col-12.col-md-9

        hr
    
        include ../../components/payment.history/template

        hr

        include ../../modules/appeal-item/payment-history
  
    