.b-gallery
  height 420px
  background-color $placeholder-color
  transition-fn( background-color .5s ease )
  border-radius 10px
  
  .swiper-container
    opacity 0
    transition-fn( opacity .5s ease )