extends ../../layouts/main

block title
  title Blocks | Blocks | AAS

block content

  .container-fluid

    h1 Блоки
    
    h3 meeting-item 

    include ../../modules/meeting-item/include

    h3 Серый блок с кнопкой

    .bg-fa.p-16.br-8.d-flex.justify-content-between.align-items-center
      h3.my-0 Создайте новое заседание
      .btn.btn-secondary.btn-md Создать заседание

    h3 Member card - modules/member-card/include

    include ../../modules/member-card/include

    h3 Member card - modules/member-card/department

    include ../../modules/member-card/department
