extends ../../layouts/main

block title
  title Blocks | Blocks | AAS

block content

  .container-fluid

    h1 Блоки
    
    h3 meeting-item 

    include ../../modules/meeting-item/include
    
    h3 Single-delete

    include ../../modules/docs/single-remove