@font-face {
  font-family: Roboto;
  src: url('/local/templates/aas/fonts/roboto/Roboto-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url('/local/templates/aas/fonts/roboto/Roboto-ThinItalic.woff2') format('woff2');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: Roboto;
  src: url('/local/templates/aas/fonts/roboto/Roboto-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url('/local/templates/aas/fonts/roboto/Roboto-ExtraLightItalic.woff2') format('woff2');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: Roboto;
  src: url('/local/templates/aas/fonts/roboto/Roboto-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url('/local/templates/aas/fonts/roboto/Roboto-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: Roboto;
  src: url('/local/templates/aas/fonts/roboto/Roboto-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url('/local/templates/aas/fonts/roboto/Roboto-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: Roboto;
  src: url('/local/templates/aas/fonts/roboto/Roboto-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url('/local/templates/aas/fonts/roboto/Roboto-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: Roboto;
  src: url('/local/templates/aas/fonts/roboto/Roboto-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url('/local/templates/aas/fonts/roboto/Roboto-SemiBoldItalic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: Roboto;
  src: url('/local/templates/aas/fonts/roboto/Roboto-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url('/local/templates/aas/fonts/roboto/Roboto-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: Roboto;
  src: url('/local/templates/aas/fonts/roboto/Roboto-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url('/local/templates/aas/fonts/roboto/Roboto-ExtraBoldItalic.woff2') format('woff2');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: Roboto;
  src: url('/local/templates/aas/fonts/roboto/Roboto-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url('/local/templates/aas/fonts/roboto/Roboto-BlackItalic.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
}