@import '../../styl/component-include.styl'

.b-subtitle-info
    display flex
    flex-wrap wrap
    align-items flex-start
    gap 4px var(--twpx-table-padding-m, 16px)
    margin-bottom 24px

    &__item
        color var(--twpx-text-primary, #3B3B3B)
        font-family $roboto
        font-size $12px
        line-height 24px
        white-space nowrap

    @media(max-width 767px)
        flex-wrap nowrap
        overflow-x auto
        margin-bottom 16px