extends ../../layouts/main

block vars
  - var page = 'pages-css-utils'
  - var authorized = 'true'

block title
  title CSS utils | AAS

block content

  hr

  .container-fluid
  
    include ../../modules/breadcrumbs/include

  hr

  .container-fluid

    h3.bt-1 Border top (.bt-1)

    hr

    h3.b-green .b-green

    hr

    h3.b-blue .b-blue

    hr

    h3.bg-success .bg-success

    hr

    h3.bg-danger .bg-danger

    hr

    h3.text-normal .text-normal

    hr

    h3.text-success .text-success

    hr

    h3.text-danger .text-danger

    hr

    h3.text-semimuted .text-semimuted

    hr

    h3.text-blue .text-blue

    hr

    h3.text-muted .text-muted

    hr

    h3.bg-fa .bg-fa

    hr

    h3.bg-fa.p-16 .p-16

    hr

    h3.bg-fa.p-32 .p-32

    hr

    h3 .mt-0 - margin-top: 0;
