extends ./layouts/simple

block title
  title Structure | AAS

block content

  h1 СРО ААС структура проекта

  ul
    li
      a( href="/structure/gui/" ) Graphical user interface (GUI)
    li
      a( href="/structure/pages/" ) Страницы
    li
      a( href="/structure/pdf/" ) PDF
  
  