- var tab="result"

.b-tab-links
  a( class=tab === 'result' ? 'active' : '' href="/pages/poll-result/" ) Результаты голосования
  a( class=tab === 'registry' ? 'active' : '' href="/pages/poll-result/registry.html" ) Журнал голосования
  a( class=tab === 'in-person' ? 'active' : '' href="/pages/poll-result/in-person.html" ) Результаты очного голосвания

  .b-tab-links__decor