@import '../../styl/component-include.styl'

.b-poll-list

  &.ph-block
    
    &.ph-block--animated
      
      .ph-content
        position static
        width auto
        opacity 1
        
      .ph
        position absolute
        top 0
        left 0
        width 100%
        opacity 0
        z-index -1
    
.b-poll-list

  &__item
    border-bottom 1px solid $line-color
    padding 1rem

    @media( max-width 575px )
      display block
      padding-left 0
      padding-right 0

    .b-docs-block
      
      &__text a,
      &__data span
        line-height 1

    @media( max-width 767px )

      .b-docs-block__icon
        margin-right 0

  &__text
    width calc(100% - 300px - 32px)

  &__content
    display flex
    justify-content space-between
    align-items center
    gap 16px

    b
      display block
      font-family $roboto
      font-size $16px
      font-weight $bold
      color #000

    @media( max-width 767px )
      display block

      .b-poll-list__text
        width 100%

      .b-docs-block__data span
        white-space nowrap

      .b-poll-list__data
        margin-top 16px

  &__title
    display block
    font-family $roboto
    font-weight $bold
    margin-bottom 10px
    line-height 1.2

    @media( max-width 575px )
      width 100%

  &__data
    display flex
    justify-content flex-end
    align-items center
    font-size $16px
    font-family $roboto
    width 50%

    [class^="label-"]
      margin-right 32px
      white-space nowrap

    .btn
      min-width 158px

    @media( max-width 1100px )
      width 158px

      [class^="label-"]
        margin-right 0
        display inline-block

        span
          display inline
    
      &
        display block
        margin-right 0

      span
        margin-bottom 10px

    @media( max-width 575px )

      &,
      span
        text-align left

      span
        margin-top 10px

  &__note
    font-size $12px
    margin-bottom 10px
    line-height 1.2
    white-space break-spaces

    @media( max-width 575px )
      width 100%

  &__status
    background-repeat no-repeat
    background-position 3px center
    background-size 32px
    width 158px
    height 38px
    border 1px solid $success-color
    color $success-color
    border-radius 19px
    font-size $12px
    line-height 36px
    padding 0 12px 0 38px
    text-align center
    display inline-block