// start /components/poll-list/

//- push style and script file to the end of the page
if componentsArray
  - componentsArray[ componentsArray.length ] = 'poll-list'
else
  - var componentsArray = [ 'poll-list' ]
  
.b-poll-list.ph-block

  .ph

    .ph__text
      div
      div
      div
      div
      div
      div

  .ph-content

    .b-poll-list__item
      .b-poll-list__content
        .b-poll-list__text

          a.b-poll-list__title( href="/pages/poll/" ) Название голосования может быть большим, а может быть очень маленьким

          .b-poll-list__note.text-muted Короткое описание опроса или голосования с пояснением, может занимать несколько строк.

          b До 22 апреля 2021 (56 дней)

        .b-poll-list__data

          span.label-blue
            span Не голосовали

          a.btn.btn-secondary.btn-md( href="/pages/poll/" ) Голосовать

    .b-poll-list__item
      .b-poll-list__content
        .b-poll-list__text

          a.b-poll-list__title( href="/pages/poll/" ) Общее территориальное собрание Сибирского-Дальневосточного округа

          .b-poll-list__note.text-muted Опросный лист для голосования на очередном Общем территориальном собрании членов Саморегулируемой организации аудиторов Ассоциация «Содружество» по Ценральному округу.

        .b-poll-list__data

          span.label-blue
            span Не голосовали

          a.btn.btn-secondary.btn-md( href="/pages/poll/" disabled="disabled" ) Закончено
        
    .b-poll-list__item
      .b-poll-list__content
        .b-poll-list__text

          .b-poll-list__title Общее территориальное собрание Сибирского-Дальневосточного округа

          .b-poll-list__note.text-muted Опросный лист для голосования на очередном Общем территориальном собрании членов Саморегулируемой организации аудиторов Ассоциация «Содружество» по Ценральному округу.

        .b-poll-list__data

          span.label-green
            span Проголосовали

          a.btn.btn-secondary.btn-md( href="/pages/poll/" disabled="disabled" ) Закончено

      hr.hr--md

      include ../../modules/docs/single-no-pad-32x44

// end /components/poll-list/